<h1>Perfil</h1>


<div class="col-md-12"><div class="col-md-22 hidden"><div class="row"><div class="row">
    
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-12">
          <div class="cover profile">
            <div class="wrapper">
              <div class="image">
                <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
              </div>
             
             </div>
           
                         
                   
          </div>

        </div>

        <div class="col-md-12 col-md-22 hidden">
          <div class="cover profile">

            <div class="wrapper">
             
              <div class="image">
                <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
              </div>
              
            </div>

          </div>
        </div>
     
      </div>
    </div>

    </div>
    
    </div></div>
          <div class="cover profile">
                <div class="wrapper">
                 <div class="image">
                      <img src="http://demos.bootdey.com/dayday/img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
                  </div>
              </div>


              <div class="cover-info">
               <div class="avatar">
                    <img src="http://demos.bootdey.com/dayday/img/Friends/guy-3.jpg" alt="people">
               </div>
              <div class="name"><a href="#">Juan Diego Rodriguez</a></div>

            <div class="btn-success">  
            <ul class="cover-nav">
            <li class="active">
            <a href="#">Editar Perfil</a>
            </li>
            </ul>
            </div>

            </div>
         
          </div>
        </div>


---------------------------------------------

<div class="row">
    <div class="cl-md-5">
    <div class="widget">
            <div class="widget-header margin-none">
              <h3 class="widget-caption especial">Acerca de mi</h3>
            
            </div>
           

            <div class="margin-none">
              <ul class="list-unstyled">
                <li class="padding-v-5">
                  <div class="row">
                    <div class="cl-sm-4"><span class="text-muted">Date of Birth</span></div>
                    <div class="cl-sm-8">22 January 1990</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="cl-sm-4"><span class="text-muted">Job</span></div>
                    <div class="cl-sm-8">Ninja developer</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="cl-sm-4"><span class="text-muted">Gender</span></div>
                    <div class="cl-sm-8">Male</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="cl-sm-4"><span class="text-muted">Lives in</span></div>
                    <div class="cl-sm-8">Miami, FL, USA</div>
                  </div>
                </li>
                <li class="padding-v-5">
                  <div class="row">
                    <div class="cl-sm-4"><span class="text-muted">Credits</span></div>
                    <div class="cl-sm-8">249</div>
                  </div>
                </li>
              </ul>
            </div>
        
                    
    </div>
    </div>
</div>