<p id="notice"><%= notice %></p>

<h1 class="especial">Canales</h1>


<div class="row">
   

    <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">

      <div class="caption">
        <h3>Público</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">
      <div class="caption">
        <h3>Android</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>
 <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">

      <div class="caption">
        <h3>iOS</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">
      <div class="caption">
        <h3>Fotografía</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>


  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">

      <div class="caption">
        <h3>Aplicaciones</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="http://brandbazaarbd.com/wp-content/uploads/2014/06/10407832_584839174947237_3017203400962067092_n-242x220.png" alt="...">
      <div class="caption">
        <h3>Jazz & Blues</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p><a href="chanel/index" class="btn btn-success" role="button">Ir</a> <a href="#" class="btn btn-primary" role="button">Subscribirse</a></p>
      </div>
    </div>
  </div>

</div> 
    