<p id="notice"><%= notice %></p>

<h1 class="especial">Canales</h1>


<div class="row">
   
    <div class="contact-box center-version col-md-3">
    <img alt="image" class="img-thumbnail" src="http://demos.bootdey.com/dayday/img/Photos/8.jpg">
      <div class="caption">
      <h3><a href="#">Entretenimiento</a></h3>
      </div>
    </div>
    
    
    <div class="contact-box center-version col-md-3">
      <img alt="image" class="img-thumbnail" src="http://demos.bootdey.com/dayday/img/Photos/3.jpg" alt="photo">
      <div class="caption">
      <h3><a href="#">Paisajes</a></h3>
      </div>
    </div>

   <div class="contact-box center-version col-md-3">
      <img alt="image" class="img-thumbnail" src="http://demos.bootdey.com/dayday/img/Photos/6.jpg" alt="photo">
      <div class="caption">
      <h3><a href="#">Tecnologia</a></h3>
      </div>
    </div>

    <div class="contact-box center-version col-md-3">
      <img alt="image" class="img-thumbnail" src="http://demos.bootdey.com/dayday/img/Photos/4.jpg" alt="photo">
      <div class="caption">
      <h3><a href="#">Belleza</a></h3>
      </div>
    </div>

</div> 
    