<!-- /sidebar -->
<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <a href="#"><i class="fa fa-home" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Inicio </span> </a>
    </li>
    <li>
      <a href="#"><i class="fa fa-user" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Perfil </span> </a>
    </li>
    <li>
      <a href="#"><i class="fa fa-th-large" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Canales</span> </a>
    </li>
    <li>
      <a href="#"><i class="fa fa-users" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Personas </span> </a>
    </li>    
  </ul>
  <hr>
  <ul class="nav nav-sidebar">
      <li>
        <a href="#"><i class="fa fa-life-ring" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Ayuda</span> </a>
      </li>
      <li>
        <a href="#"><i class="fa fa-info-circle" aria-hidden="true"> </i> <span class="collapse in hidden-xs" style="margin-left:10px;">Sobre Nosotros</span> </a>
      </li>
      
    </ul>
</div>
<!-- /sidebar -->

