      <!-- /sidebar -->

      <div class="col-sm-3 col-md-2 sidebar">
        <h3>Inicio</h3>
        <ul class="nav nav-sidebar">
          <li class="active"><i class="fa fa-home" aria-hidden="true"></i><a href="#"></a></li>
          <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Personas</a></li>
          <li><a href="#">Canales</a></li>
          <li><a href="#">Sobre Nosotros</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>     
  </div>
        <!-- /sidebar -->


