<aside class="col-md-2">
   
   <div class="list-group">
        <a href="#" class="list-group-item active">Inicio</a>
        <a href="#" class="list-group-item">Canales</a>
        <a href="#" class="list-group-item">Personas</a>
        <a href="#" class="list-group-item">Ayuda</a>
        <a href="#" class="list-group-item">Sobre Nosotros</a>
   </div>   
</aside>