<div class="row">
	<ul class="nav navbar-nav side-nav" >
		<li><a href="#">Perfil</a></li>
		<li><a href="#">Canales</a></li>
		<li><a href="#">Personas</a></li>
		<li><a href="#">Sobre Nosotros</a></li>
		<li><a href="#">Ayuda</a></li>
	</ul>
</div>
