<div class="col-xs-12 col-sm-6 col-md-6 col-sm-offset-3 col-md-offset-3">
<div class="box n-border-top" >
                    <form>
                        <textarea class="form-control input-lg p-text-area" rows="2" placeholder="Comparte tus conocimientos"></textarea>
                    </form>
                    <div class="box-footer">
                        <button type="button" class="btn btn-success pull-right">Publicar</button>

                        

                        <ul class="nav nav-pills">
                           
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class=" fa fa-film"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                  </div>



<div class="box box-widget">
                    <div class="box-header with-border">
                      <div class="user-block">
                        <img class="img-circle" src="http://demos.bootdey.com/dayday/img/Friends/guy-3.jpg" alt="User Image">
                        <span class="username"><a href="#">John Breakgrow jr.</a></span>
                        <span class="description">Publicado - 9:30 PM Today</span>
                      </div>
                    </div>

                    <div class="box-body"  style="display: block;">
                      <img class="img-responsive pad show-in-modal " src="http://demos.bootdey.com/dayday/img/Photos/3.jpg" alt="Photo">
                      <p>Tome esta foto hoy por la tarde, que les parece amigos?</p>
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-share especial"></i> Compartir</button>
                      <button type="button" class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up especial"></i> Me gusta</button>
                      <span class="pull-right text-muted">127 Me gusta - 2 Comentarios</span>
                    </div>
                    <div class="box-footer box-comments" style="display: block;">
                      <div class="box-comment">
                        <img class="img-circle img-sm" src="http://demos.bootdey.com/dayday/img/Friends/woman-1.jpg" alt="User Image">
                        <div class="comment-text">
                          <span class="username">
                          Maria Gonzales
                          <span class="text-muted pull-right">10:03 PM Today</span>
                          </span>
                          Me encanta, en que lugar la tomaste?
                        </div>
                      </div>

                      <div class="box-comment">
                        <img class="img-circle img-sm" src="http://demos.bootdey.com/dayday/img/Friends/woman-5.jpg" alt="User Image">
                        <div class="comment-text">
                          <span class="username">
                          Luna Stark
                          <span class="text-muted pull-right">10:15 PM Today</span>
                          </span>
                          Ambos salen bellisimos, que romanticos son...
                        </div>
                      </div>
                    </div>
                    <div class="box-footer" style="display: block;">
                      <form action="#" method="post">
                        <img class="img-responsive img-circle img-sm" src="http://demos.bootdey.com/dayday/img/Friends/guy-3.jpg" alt="Alt Text">
                        <div class="img-push">
                          <input type="text" class="form-control input-sm" placeholder="Presiona enter para hacer un comentario">
                        </div>
                      </form>
                    </div>
                  </div>
</div>