
<h1>Timeline</h1>


<div class="box profile-info n-border-top" >
                    <form>
                        <textarea class="form-control input-lg p-text-area" rows="2" placeholder="En que estas pensando hoy?"></textarea>
                    </form>
                    <div class="box-footer box-form">
                        <button type="button" class="btn btn-success pull-right">Publicar</button>

                        

                        <ul class="nav nav-pills">
                           
                            <li><a href="#"><i class="fa fa-camera"></i></a></li>
                            <li><a href="#"><i class=" fa fa-film"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        </ul>
                    </div>
                  </div>











                 