<h1>Personas</h1>

<h3>CHAO </h3>

<ul class="nav nav-pills">
  <li role="presentation" class="actives"><a href="#">Seguidores</a></li>
  <li role="presentation" class="actives"><a href="#">Seguidos</a></li>
</ul>

<div class="row">
          <div class="col-md-3"><div class="col-md-22 hidden"><div class="row"><div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="cover profile">
              <div class="wrapper">
                <div class="image">
                  <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
                </div>
                <ul class="friends">
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-6.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-3.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-2.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-1.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li><a href="#" class="group"><i class="fa fa-group"></i></a></li>
                </ul>
              </div>
              <div class="cover-info">
                <div class="avatar">
                  <img src="img/Friends/guy-5.jpg" alt="people">
                </div>
                <div class="name"><a href="#">John Breakgrow jr.</a></div>
                <ul class="cover-nav">
                  <li><a href="profile.html"><i class="fa fa-fw fa-bars"></i> Timeline</a></li>
                  <li><a href="about.html"><i class="fa fa-fw fa-user"></i> About</a></li>
                  <li class="active"><a href="friends.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                  <li><a href="photos1.html"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-5.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div></div></div>
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                
              </div>
          </div>

          <div class="col-md-3"><div class="col-md-22 hidden"><div class="row"><div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="cover profile">
              <div class="wrapper">
                <div class="image">
                  <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
                </div>
                <ul class="friends">
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-6.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-3.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-2.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-1.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li><a href="#" class="group"><i class="fa fa-group"></i></a></li>
                </ul>
              </div>
              <div class="cover-info">
                <div class="avatar">
                  <img src="img/Friends/guy-5.jpg" alt="people">
                </div>
                <div class="name"><a href="#">John Breakgrow jr.</a></div>
                <ul class="cover-nav">
                  <li><a href="profile.html"><i class="fa fa-fw fa-bars"></i> Timeline</a></li>
                  <li><a href="about.html"><i class="fa fa-fw fa-user"></i> About</a></li>
                  <li class="active"><a href="friends.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                  <li><a href="photos1.html"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-1.jpg">
                  <h3 class="m-b-xs"><strong>Anaiviv</strong></h3>
    
                  <div class="font-bold">Ing. Infomatica</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>SJKDFHDKLHDFJLKHDFGJKs</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-5.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div></div></div>
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                
              </div>
          </div>

          <div class="col-md-3"><div class="col-md-22 hidden"><div class="row"><div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="cover profile">
              <div class="wrapper">
                <div class="image">
                  <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
                </div>
                <ul class="friends">
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-6.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-3.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-2.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-1.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li><a href="#" class="group"><i class="fa fa-group"></i></a></li>
                </ul>
              </div>
              <div class="cover-info">
                <div class="avatar">
                  <img src="img/Friends/guy-5.jpg" alt="people">
                </div>
                <div class="name"><a href="#">John Breakgrow jr.</a></div>
                <ul class="cover-nav">
                  <li><a href="profile.html"><i class="fa fa-fw fa-bars"></i> Timeline</a></li>
                  <li><a href="about.html"><i class="fa fa-fw fa-user"></i> About</a></li>
                  <li class="active"><a href="friends.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                  <li><a href="photos1.html"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-5.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div></div></div>
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                
              </div>
          </div>

          <div class="col-md-3"><div class="col-md-22 hidden"><div class="row"><div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="cover profile">
              <div class="wrapper">
                <div class="image">
                  <img src="img/Cover/profile-cover.jpg" class="show-in-modal" alt="people">
                </div>
                <ul class="friends">
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-6.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-3.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-2.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-9.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/guy-1.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="img/Friends/woman-4.jpg" alt="people" class="img-responsive">
                    </a>
                  </li>
                  <li><a href="#" class="group"><i class="fa fa-group"></i></a></li>
                </ul>
              </div>
              <div class="cover-info">
                <div class="avatar">
                  <img src="img/Friends/guy-5.jpg" alt="people">
                </div>
                <div class="name"><a href="#">John Breakgrow jr.</a></div>
                <ul class="cover-nav">
                  <li><a href="profile.html"><i class="fa fa-fw fa-bars"></i> Timeline</a></li>
                  <li><a href="about.html"><i class="fa fa-fw fa-user"></i> About</a></li>
                  <li class="active"><a href="friends.html"><i class="fa fa-fw fa-users"></i> Friends</a></li>
                  <li><a href="photos1.html"><i class="fa fa-fw fa-image"></i> Photos</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-2.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-3.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/guy-5.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>

          <div class="col-md-3">
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                <div class="contact-box-footer">
                  <div class="m-t-xs btn-group">
                    <a href="messages1.html" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i>Send Messages</a>
                    <a class="btn btn-xs btn-white"><i class="fa fa-user-plus"></i> Follow</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div></div></div>
              <div class="contact-box center-version">
                <a href="#">
                  <img alt="image" class="img-circle" src="img/Friends/woman-1.jpg">
                  <h3 class="m-b-xs"><strong>John Doe</strong></h3>
    
                  <div class="font-bold">Graphics designer</div>
                </a>
                
              </div>
          </div>

          

          

          

          
        </div>