<div class="col-xs-12 col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="page-heading">
    <h1>Sobre Nosotros</h1>
    <hr class="linea-hr">
    <span class="subheading"> <h6 class="texto-sub">Red social para egresados de la
     Universidad Centroocidental Lisandro Alvarado, orientada al
      intercambio de conocimientos y experiencias. </h6></span>
  </div>
</div>

<% !render "partials/sidebar" %>






