<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
  <div class="page-heading">
    <h1>Sobre Nosotros</h1>
    <hr>
    <span class="subheading">Red social de egresados de la
     Universidad Centroocidental Lisandro Alvarado, orientada al intercambio de conocimients.</span>
  </div>
</div>






