@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "bootstrap";
@import "devise_bootstrap_views";
@import "font-awesome";
@import "bootswatch/flatly/bootswatch";
@import "social-share-button";


$fondo: #2c3e50; //color de fondo
$success: #18bc9c; //color primario

body {
    padding-top: 25px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.navbar-default {
   box-shadow: 0 2px 5px rgba(0,0,0,.26);
}


.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

$size: 26px;

.social-share-button {
  .ssb-icon {
    background-size: $size $size;
    height: $size;
    width: $size;
  }
}
.post-content {
    margin-left:3px;
}

.comments-header {
  border-bottom: 1px dotted gray;
  margin-bottom: 10px;
}

.comments-container {
  p {
    margin-bottom: 0px;
  }
  .comment-nav {
    margin-left: 5px;
    margin-bottom: 10px;

    a {
      font-size: 10px;
      font-weight: bold;
      color: #888;
    }
  }
}

.reply-form {
  display: none;
}

.comments-show {
  margin-left: 25px;
}



textarea {
    resize: none;
    overflow-y: scroll;
}

.box {

    height: 100%;
    background: $fondo;
    position: absolute;
    left: 0;
    top: 60px;
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.05);
    position: fixed;
    bottom: 0;
    z-index: 1000;

}

.box a {
    padding: 25px;
    font-size: 18px;
    color: white;
     -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}


body {
    //background-image: url('https://i.imgsafe.org/e90f01fffb.jpg');
    background-color: $fondo;
}

body.blanco {
    background: #e6e6e6;
}

.links-inicio {
    text-align: center;
    margin-bottom: 60px;
}

.page-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    color: #fff;
    text-align: right;
    font-size: 12px;
}



.active {
    background-color: $success;
    a {
        color: #fff;
    }
}

.box {
    li:hover a {
        background-color: $success;
        color: #fff;
    }
}

.btn-success {
    a {
        color: #fff;
        text-decoration: none;
    }
}

.collapse.in {
    display: inline;
}

.page-heading {
    color: white;
    text-align: center;
    h1 {
        font-size: 80px;
        font-weight: 700;
    }
}

.linea-hr {
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: $success;
}

.linea-hr2 {
    max-width: 200px;
    margin: 15px auto;
    border-width: 1px;
    border-color: $success;
}

.subheading {
    line-height: 1.1;
    display: block;
    margin: 10px 0 0;
    font-size: 24px;
}

.texto-sub {
    font-size: 26px;
}

.barra-busqueda {
    background-color: rgba(255, 255, 255, .15);
    border: none;
    padding: 10px 45px;
    color: white;
}

.logo-estilo {
    font-family: 'Cinzel', serif;
    font-size: 24px;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}


/* FF 4-18 */

input:focus::-moz-placeholder {
    color: transparent;
}


/* FF 19+ */

input:focus:-ms-input-placeholder {
    color: transparent;
}


/* IE 10+ */


/* -------------------------------------------Mensajes de alerta*/

#alert_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1050;
    background: rgba(231, 76, 60, 0.85);
    .alert {
        padding: 2.1rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        color: #fff;
        letter-spacing: 1px;
    }
}

#notice_wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1050;
    background: rgba(52, 152, 219, 0.85);
    .notice {
        padding: 2.1rem 0;
        text-align: center;
        margin: 0;
        font-size: 1.25rem;
        color: #fff;
        letter-spacing: 1px;
    }
}
